KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/ticks.o \
$(ARCHDIR)/vga.o \
$(ARCHDIR)/multiboot.o \
$(ARCHDIR)/boot.o \
$(ARCHDIR)/ll.o \
$(ARCHDIR)/serial.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/pit.o \
$(ARCHDIR)/pic.o \
$(ARCHDIR)/idt.o \
$(ARCHDIR)/int.o \
$(ARCHDIR)/gdt.o \
$(ARCHDIR)/abort.o \

KERNEL_STD_MODULES=\
cstdint.gcm \
cstdlib.gcm \
cstddef.gcm \
